<a href="https://colab.research.google.com/github/Likhithareddy1/Movie-Recommendation-System/blob/main/DM_ProjPreproc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Load the dataset csv's
rating <- read.csv("/content/rating.csv")
movie <- read.csv("/content/movie.csv")
genome_scores <- read.csv("/content/genome_scores.csv")
tag <- read.csv("/content/tag.csv")
link <- read.csv("/content/link.csv")
genome_tags <- read.csv("/content/genome_tags.csv")

dim(rating)
dim(movie)
dim(genome_scores)
dim(tag)
dim(link)
dim(genome_tags)

[1] 20000263        4

[1] 27278     3

[1] 11709768        3

[1] 465564      4

[1] 27278     3

[1] 1128    2

In [3]:
# Inspect the dataset
str(rating)
summary(rating)
str(movie)
summary(movie)
str(genome_scores)
summary(genome_scores)
str(tag)
summary(tag)
str(link)
summary(link)
str(genome_tags)
summary(genome_tags)

'data.frame':	20000263 obs. of  4 variables:
 $ userId   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ movieId  : int  2 29 32 47 50 112 151 223 253 260 ...
 $ rating   : num  3.5 3.5 3.5 3.5 3.5 3.5 4 4 4 4 ...
 $ timestamp: chr  "2005-04-02 23:53:47" "2005-04-02 23:31:16" "2005-04-02 23:33:39" "2005-04-02 23:32:07" ...

     userId          movieId           rating       timestamp
 Min.   :     1   Min.   :     1   Min.   :0.500   Length:20000263
 1st Qu.: 34395   1st Qu.:   902   1st Qu.:3.000   Class :character
 Median : 69141   Median :  2167   Median :3.500   Mode  :character
 Mean   : 69046   Mean   :  9042   Mean   :3.526
 3rd Qu.:103637   3rd Qu.:  4770   3rd Qu.:4.000
 Max.   :138493   Max.   :131262   Max.   :5.000

'data.frame':	27278 obs. of  3 variables:
 $ movieId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ title  : chr  "Toy Story (1995)" "Jumanji (1995)" "Grumpier Old Men (1995)" "Waiting to Exhale (1995)" ...
 $ genres : chr  "Adventure|Animation|Children|Comedy|Fantasy" "Adventure|Children|Fantasy" "Comedy|Romance" "Comedy|Drama|Romance" ...

    movieId          title              genres
 Min.   :     1   Length:27278       Length:27278
 1st Qu.:  6931   Class :character   Class :character
 Median : 68068   Mode  :character   Mode  :character
 Mean   : 59855
 3rd Qu.:100293
 Max.   :131262

'data.frame':	11709768 obs. of  3 variables:
 $ movieId  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ tagId    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ relevance: num  0.025 0.025 0.0578 0.0968 0.1467 ...

    movieId           tagId          relevance
 Min.   :     1   Min.   :   1.0   Min.   :0.00025
 1st Qu.:  2926   1st Qu.: 282.8   1st Qu.:0.02425
 Median :  6017   Median : 564.5   Median :0.05650
 Mean   : 25843   Mean   : 564.5   Mean   :0.11648
 3rd Qu.: 46062   3rd Qu.: 846.2   3rd Qu.:0.14150
 Max.   :131170   Max.   :1128.0   Max.   :1.00000

'data.frame':	465564 obs. of  4 variables:
 $ userId   : int  18 65 65 65 65 65 65 65 65 65 ...
 $ movieId  : int  4141 208 353 521 592 668 898 1248 1391 1617 ...
 $ tag      : chr  "Mark Waters" "dark hero" "dark hero" "noir thriller" ...
 $ timestamp: chr  "2009-04-24 18:19:40" "2013-05-10 01:41:18" "2013-05-10 01:41:19" "2013-05-10 01:39:43" ...

     userId          movieId           tag             timestamp
 Min.   :    18   Min.   :     1   Length:465564      Length:465564
 1st Qu.: 28780   1st Qu.:  2571   Class :character   Class :character
 Median : 70201   Median :  7373   Mode  :character   Mode  :character
 Mean   : 68712   Mean   : 32628
 3rd Qu.:107322   3rd Qu.: 62235
 Max.   :138472   Max.   :131258

'data.frame':	27278 obs. of  3 variables:
 $ movieId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ imdbId : int  114709 113497 113228 114885 113041 113277 114319 112302 114576 113189 ...
 $ tmdbId : int  862 8844 15602 31357 11862 949 11860 45325 9091 710 ...

    movieId           imdbId            tmdbId
 Min.   :     1   Min.   :      5   Min.   :     2
 1st Qu.:  6931   1st Qu.:  77417   1st Qu.: 15936
 Median : 68068   Median : 152435   Median : 39468
 Mean   : 59855   Mean   : 578186   Mean   : 63847
 3rd Qu.:100293   3rd Qu.: 906272   3rd Qu.: 82504
 Max.   :131262   Max.   :4530184   Max.   :421510
                                    NA's   :252

'data.frame':	1128 obs. of  2 variables:
 $ tagId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ tag  : chr  "007" "007 (series)" "18th century" "1920s" ...

     tagId            tag
 Min.   :   1.0   Length:1128
 1st Qu.: 282.8   Class :character
 Median : 564.5   Mode  :character
 Mean   : 564.5
 3rd Qu.: 846.2
 Max.   :1128.0

In [4]:
# Check for missing values in ratings and movies datasets

sum(is.na(rating))  # Should ideally return 0
sum(is.na(movie))
sum(is.na(genome_scores))
sum(is.na(tag))
sum(is.na(link))
sum(is.na(genome_tags))

[1] 0

[1] 0

[1] 0

[1] 16

[1] 252

[1] 0

In [5]:
#Check which columns in file are missing
missing_counts <- colSums(is.na(tag))
missing_counts

missing_link <- colSums(is.na(link))
missing_link

   userId   movieId       tag timestamp
        0         0        16         0

movieId  imdbId  tmdbId
      0       0     252

In [ ]:
# Load Libraries
install.packages("reshape2")
install.packages("recommenderlab")
install.packages("proxy")
library(reshape2)
library(recommenderlab)
library(proxy)

#Merge ratings and movies on movieId.The common column movieId links ratings with movies
merged_data <- merge(rating, movie, by = "movieId")
merged_data <- merge(merged_data, tag, by = c("userId", "movieId"), all.x = TRUE)
merged_data <- merge(merged_data, link, by = "movieId", all.x = TRUE)
genome_data <- merge(genome_scores, genome_tags, by = "tagId")
merged_data <- merge(merged_data, genome_data, by = "movieId", all.x = TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘plyr’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘float’, ‘RcppProgress’, ‘arules’, ‘proxy’, ‘registry’, ‘irlba’, ‘recosystem’, ‘matrixStats’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: Matrix

Loading required package: arules


Attaching package: ‘arules’


The following objects are masked from ‘package:base’:

    abbreviate, write


Loading required package: proxy


Attaching package: ‘proxy’


The following object is masked from ‘package:Matrix’:

    as.matrix


The following objects are masked from ‘package:stats’:

    as.dist, dist


The following object is masked from ‘package:base’:

    as.matrix


Registered S3 methods overwritten by 'registry':
  method               from
  print.registry_field proxy
  print.registry_entry proxy